@import './fonts';
$fs-50: 50px;
$fs-22: 22px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;
$fs-12: 12px;
$fs-11: 11px;
$font-family: 'd-dinregular';
$grey: #e1e1e1;
$dark-grey: #7f7f7f;
$font-color-grey: #9e9e9e;
$light-yellow: #fff3a4;
$dark-yellow: #fedd02;
$blue: #13a2e4;
$white: #fff;
$ratings: 100;